<div class="container vh-100 d-flex align-items-center justify-content-center animate-fade-in">
  <div class="row w-100 text-center">
    <div class="col-12 mb-5">
      <h1 class="display-4 fw-bold text-danger">STEAK HOUSE <span class="text-dark">SYSTEM</span></h1>
      <p class="text-muted">กรุณาเลือกรูปแบบการใช้งานเพื่อเข้าสู่ระบบ</p>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-lg border-0 h-100 py-5 btn btn-outline-danger shadow-hover" routerLink="/reserve">
        <div class="card-body">
          <i class="bi bi-shop display-1 mb-3"></i>
          <h2 class="fw-bold">สำหรับลูกค้า</h2>
          <p class="mb-0">จองโต๊ะ, สั่งอาหาร และเช็คบิล</p>
        </div>
      </div>
    </div>

    <div class="col-md-6 mb-4">
      <div class="card shadow-lg border-0 h-100 py-5 btn btn-outline-dark shadow-hover" (click)="goToAdmin()">
        <div class="card-body">
          <i class="bi bi-person-badge display-1 mb-3"></i>
          <h2 class="fw-bold">สำหรับพนักงาน/Admin</h2>
          <p class="mb-0">จัดการโต๊ะ, ดูออเดอร์ และยอดขาย</p>
        </div>
      </div>
    </div>
  </div>
</div>